<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por Capital</h2>
    <hr>
    <div class="row">
        <div class="col">
    
            <app-pais-input
                (onDebounce)="sugerencias( $event )"
                (onEnter)="buscar( $event )"
                placeholder="Buscar Capital...">
            </app-pais-input>
    
        </div>
    </div>
</div>




<hr>

<div *ngIf="hayError" class="alert alert-danger">
    No se encontró nada con el término {{ termino }}
</div>

<div *ngIf="!hayError" class="row">
    <div *ngIf="capitales.length !== 0" class="col">
        <app-pais-tabla [paises]="capitales"></app-pais-tabla>
    </div>
</div>